# 补充过滤规则
# additional-filters.snippet
# 可用规则：节点选择, 自动选择, 🇭🇰香港, 🐳台湾, 🇯🇵日本, 🇰🇷韩国, 🇸🇬新加坡, 🇺🇸美国, 👨‍🎤其他, PROXY, DIRECT
# 样例可参见 https://raw.githubusercontent.com/crossutility/Quantumult-X/master/filter.snippet

 
# 直连规则
host-suffix, ncbi.nlm.nih.gov, direct
host-keyword, phrasebank.manchester.ac.uk, direct
host-keyword, music.163.com, direct





# 自动选择规则
host-keyword, luhaifeng666.github.io, 自动选择
host-keyword, nchc.org.tw, 自动选择
host-keyword, twitter.com, 自动选择
host-keyword, obsidian.md, 自动选择
host-keyword, live.com, 自动选择




# 节点选择规则
ost-keyword, freeplane.org, 节点选
host-keyword, exitgames.com, 节点选择
host-suffix, bnbstatic.com, 节点选择




# 🐳台湾
host-keyword, shosho.tw, 🐳台湾
geoip, tw, 🐳台湾



