# 补充过滤规则
# 样例可参见 https://raw.githubusercontent.com/crossutility/Quantumult-X/master/filter.snippet
 
 # 直连规则
host-suffix, ncbi.nlm.nih.gov, direct
host-keyword, phrasebank.manchester.ac.uk, direct
 

# 自动选择规则
ost-keyword, luhaifeng666.github.io, 自动选择
host-keyword, nchc.org.tw, 自动选择
host-keyword, twitter.com, 自动选择



# 节点选择规则
ost-keyword, freeplane.org, 节点选
host-keyword, exitgames.com, 节点选择
host-suffix, bnbstatic.com, 节点选择








