# 补充过滤规则
# additional-filters.snippet
# 可用规则：节点选择, 自动选择, 🇭🇰香港, 🐳台湾, 🇯🇵日本, 🇰🇷韩国, 🇸🇬新加坡, 🇺🇸美国, 👨‍🎤其他, PROXY, DIRECT
# 样例可参见 https://raw.githubusercontent.com/crossutility/Quantumult-X/master/filter.snippet
# HOST等同于DOMAIN ：匹配请求的域, 例如：HOST，instagram.com，Proxy 匹配instagram.com的域名，走代理。
# HOST-SUFFIX 等同于 DOMAIN-SUFFIX ：匹配请求的域名后缀, 例如：HOST-SUFFIX，image.instagram.com，Proxy 匹配域名后缀为：image.instagram.com的域名，走代理。
# HOST-KEYWORD 等同于 DOMAIN-KEYWORD：匹配域名中包含的关键字。例如：DOMAIN-KEYWORD， instagram， Proxy 匹配包含 instagram 关键词的域名，走代理。
# IP-CIDR：匹配处在给定域内的 IP, 例如 IP-CIDR， 17.0.0.0/8， Proxy 匹配IP域17.0.0.0/8 走代理。
# GEOIP： 匹配给定地理区域内的 IP, 例如 GEOIP， CN， DIRECT 匹配中国IP走直连。
# USER-AGENT：特殊字符串头匹配（可以理解为应用名）, 例如：USER-AGENT，QQ*，DIRETC 匹配应用名包含QQ关键字的应用，走直连。 










 
# 直连规则
host-suffix, ncbi.nlm.nih.gov, direct
host-keyword, phrasebank.manchester.ac.uk, direct
host-keyword, music.163.com, direct





# 自动选择规则
host-keyword, luhaifeng666.github.io, 节点选择
host-keyword, nchc.org.tw, 节点选择
host-keyword, twitter.com, 节点选择
host-keyword, obsidian.md, 节点选择
host-keyword, successwithielts.com, 节点选择


# 节点选择规则
host-keyword, freeplane.org, 节点选择
host-keyword, exitgames.com, 节点选择
host-suffix, bnbstatic.com, 节点选择




# 🐳台湾
host-keyword, shosho.tw, 🐳台湾
# geoip, tw, 🐳台湾


# NAME: ib
host-keyword, ibllc.com, 节点选择
host-keyword, ibllc.com.cn, 节点选择
host-keyword, ibkr.com, 节点选择




# NAME: OneDrive
# AUTHOR: blackmatrix7
# REPO: https://github.com/blackmatrix7/ios_rule_script
# UPDATED: 2024-02-25 16:01:10
HOST,oneclient.sfx.ms,节点选择
HOST-SUFFIX,1drv.com,节点选择
HOST-SUFFIX,livefilestore.com,节点选择
HOST-SUFFIX,oneclient.sfx.ms,节点选择
HOST-SUFFIX,onedrive.com,节点选择
HOST-SUFFIX,onedrive.live.com,节点选择
HOST-SUFFIX,photos.live.com,节点选择
HOST-SUFFIX,sharepoint.com,节点选择
HOST-SUFFIX,sharepointonline.com,节点选择
HOST-SUFFIX,skydrive.wns.windows.com,节点选择
HOST-SUFFIX,spoprod-a.akamaihd.net,节点选择
HOST-SUFFIX,storage.live.com,节点选择
HOST-SUFFIX,storage.msn.com,节点选择
HOST-KEYWORD,1drv,节点选择
HOST-KEYWORD,onedrive,节点选择
HOST-KEYWORD,skydrive,节点选择
USER-AGENT,OneDrive*,节点选择
USER-AGENT,OneDriveiOSApp*,节点选择
